
.content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}


.left-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}


.description-box {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.infobox {
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user {
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.location {
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.interested-btn {
    width: 100%;
    background-color: rgb(0, 47, 52);
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.interested-btn:hover {
    background-color: rgb(1, 70, 78);
}

